//body
//{
//    margin:0;
  //  padding: 0;
  //  overflow: hidden;    
//}

body {
 background-image: url("images/risitas.png");
 background-color: #cccccc;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}



canvas
{
    background-color: aliceblue;
}